# Node
node_modules/

# Env files
.env
.env.*
back/.env
back/.env.*
!/.env.example
!/back/.env.example
!/frontend/.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Builds
build/
dist/

# Design docs / planning
mds/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
