
.container-txtInicio {
    flex: 1;
    background: linear-gradient(180deg, #7B0233 50%, black 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center; 
}

.container-txtInicio h1 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
    max-width: 800px;
    margin: 0;
}